section {
  max-width: 1200px;
  padding-inline: 1rem;
  color: var(--gray-900);

  display: grid;
  grid: 1fr auto / [fig-start] 2.5fr [fig-end content-start cap-start] 1.5fr [cap-end] 1fr [content-end];
  gap: 1.5rlh;

  h2 {
    font-size: 2.5rem;
    z-index: 1;
    line-height: 1.1;
    color: var(--gray-1000);
    margin-block-start: calc(0.5cap - 0.5lh);
  }

  .content {
    grid-column: content;
    grid-row: 1;

    > * + * {
      margin-top: 0.75rlh;
    }
  }

  figure {
    grid-column: 1/-1;
    grid-row: 1/-1;

    display: grid;
    grid: subgrid / subgrid;
    gap: inherit;
  }

  img {
    grid-row: 1/-1;
    align-self: stretch;
    object-fit: cover;
    aspect-ratio: 1.35;
  }

  figcaption {
    grid-row: 2;
    grid-column: cap;
    margin-top: 0.5em;
    font-size: 85%;
    color: var(--gray-900);
    background: var(--gray-100);
    padding: 0.4rlh 0.6rlh;
  }
}
@media (max-width: 600px) {
  section {
    grid: auto / 1fr;

    .content {
      grid-column: 1;
      grid-row: 1;
    }

    figure {
      grid-row: 2/4;
    }
  }
}
