---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    overflow-x: auto;
    display: flex;
    gap: var(--card-gap);
    scroll-snap-type: x mandatory;

    li {
      flex-basis: clamp(2rem, 65%, 400px);
      flex-shrink: 0;

      padding: var(--card-padding);
      background: var(--card-background);
      border-radius: var(--card-border-radius);
      color: var(--card-text-color);

      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
  }
</style>
